<a href="https://colab.research.google.com/github/Zideko/SQL_Zindua/blob/main/Abc_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext sql

In [3]:
%sql sqlite:///Abc_data

In [11]:
%%sql create table customers(
  customer_id int(10) Primary Key,
  first_name varchar(20),
  last_name varchar(20),
  email varchar(40)
);

 * sqlite:///Abc_data
Done.

[]

In [30]:
%%sql insert into customers values
 (2,"Jane", "Smith","janesmith@email.com"),
 (3,"Bob","Johnson","bobjohnson@email.com"),
 (4,"Alice","Brown","alicebrown@email.com"),
 (5,"Charlie", "Davies","charliedavis@email.com"),
 (6,"Eva","Fisher","evafisher@email.com"),
 (7,"George", "Harris","georgeharris@email.com"),
 (8,"Ivy", "Jones","ivyjones@email.com"),
 (9,"Kevin", "Miller","kevinmiller@email.com"),
 (10,"Lily","Nelson","lilynelson@email.com"),
 (11,"Oliver", "Patterson", "oliverpatterson@email.com"),
 (12,"Quin", "Roberts", "quinroberts@email.com"),
 (13,"Sophia","Thomas","sophiathomas@email.com")

 * sqlite:///Abc_data
12 rows affected.

[]

In [20]:
%%sql create table products(
  product_id int(10),
  product_name varchar(20),
  price decimal(10,2)
)

 * sqlite:///Abc_data
Done.

[]

In [21]:
%%sql insert into products Values
 (1,"Product A", 10.00)

 * sqlite:///Abc_data
1 rows affected.

[]

In [32]:
%%sql insert into products Values
    (2, 2, '2023-05-02'),
    (3, 3, '2023-05-03'),
    (4, 1, '2023-05-04'),
    (5, 2, '2023-05-05'),
    (6, 3, '2023-05-06'),
    (7, 4, '2023-05-07'),
    (8, 5, '2023-05-08'),
    (9, 6, '2023-05-09'),
    (10, 7, '2023-05-10'),
    (11, 8, '2023-05-11'),
    (12, 9, '2023-05-12'),
    (13, 10, '2023-05-13'),
    (14, 11, '2023-05-14'),
    (15, 12, '2023-05-15'),
    (16, 13, '2023-05-16');

 * sqlite:///Abc_data
15 rows affected.

[]

In [31]:
%%sql insert into products Values
    (2, 'Product B', 15.00),
    (3, 'Product C', 20.00),
    (4, 'Product D', 25.00),
    (5, 'Product E', 30.00),
    (6, 'Product F', 35.00),
    (7, 'Product G', 40.00),
    (8, 'Product H', 45.00),
    (9, 'Product I', 50.00),
    (10, 'Product J', 55.00),
    (11, 'Product K', 60.00),
    (12, 'Product L', 65.00),
    (13, 'Product M', 70.00)

 * sqlite:///Abc_data
12 rows affected.

[]

In [22]:
%%sql create table orders(
  order_id int(10),
  customer_id varchar(20),
  order_date date
)

 * sqlite:///Abc_data
Done.

[]

In [23]:
%%sql insert into orders Values
 (1,1,2023-05-01)

 * sqlite:///Abc_data
1 rows affected.

[]

In [34]:
%%sql insert into orders Values
    (2, 2, '2023-05-02'),
    (3, 3, '2023-05-03'),
    (4, 1, '2023-05-04'),
    (5, 2, '2023-05-05'),
    (6, 3, '2023-05-06'),
    (7, 4, '2023-05-07'),
    (8, 5, '2023-05-08'),
    (9, 6, '2023-05-09'),
    (10, 7, '2023-05-10'),
    (11, 8, '2023-05-11'),
    (12, 9, '2023-05-12'),
    (13, 10, '2023-05-13'),
    (14, 11, '2023-05-14'),
    (15, 12, '2023-05-15'),
    (16, 13, '2023-05-16');

 * sqlite:///Abc_data
15 rows affected.

[]

In [24]:
%%sql create table order_items(
  order_id int(10),
  product_id int(20),
  quantity int(20)
)

 * sqlite:///Abc_data
Done.

[]

In [25]:
%%sql insert into order_items Values
 (1,1,2)

 * sqlite:///Abc_data
1 rows affected.

[]

In [33]:
%%sql insert into order_items Values
    (2, 2, 1),
    (2, 3, 3),
    (3, 1, 1),
    (3, 3, 2),
    (4, 2, 4),
    (4, 3, 1),
    (5, 1, 1),
    (5, 3, 2),
    (6, 2, 3),
    (6, 1, 1),
    (7, 4, 1),
    (7, 5, 2),
    (8, 6, 3),
    (8, 7, 1),
    (9, 8, 2),
    (9, 9, 1),
    (10, 10, 3),
    (10, 11, 2),
    (11, 12, 1),
    (11, 13, 3),
    (12, 4, 2),
    (12, 5, 1),
    (13, 6, 3),
    (13, 7, 2),
    (14, 8, 1),
    (14, 9, 2),
    (15, 10, 3),
    (15, 11, 1),
    (16, 12, 2),
    (16, 13, 3);

 * sqlite:///Abc_data
30 rows affected.

[]